*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    overflow-x: none;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #ffffff 16%, #ffffff 40%, #ffffff 95%, #E0C3FC 97%, #ffffff 98%);

}

nav{
    padding-right: 2rem;
    width: 100%;
}

.navContainer{
    width: 100vw;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;background-color: #000000;
    background-image: linear-gradient(160deg, #000000 0%, #80D0C7 100%);
    
}

#navList{
    margin-right: 15px;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 2rem;
}

#navItems{
    display: flex;
    gap: 20px;
}

#navLogo{
    font-size: 2.5rem;
    color: white;
}

a{
    color: azure;
    text-decoration: none;
}

.footerBox{background-color: #000000;
    background-image: linear-gradient(160deg, #000000 0%, #80D0C7 100%);
    
    width: 100%;
    text-align: center;
    min-height: 35px;
}
.footerBox p{
    color: azure;
    font-size: 1.5rem;

}

.contentBox{
    width: 75%;
    margin: auto;
    /* border: 1px solid black; */
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 3rem;
    box-shadow: 0px 0px 30px black;
}

.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.leftBox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.leftBox h2{
    font-size: 2rem;
}

.leftBox #ingBox{
    list-style: none;
    font-size: 1.3rem;
}

.leftBox #recipeBox{
    font-size: 1.3rem;
}


.rightBox img{
    width: 200px;
    height: 250px;
    border-radius: 20px;
}

.rightBox:hover{
    transform: scale(1.1);
}
.rightBox{
    position: relative;
    transition: all 0.6s linear 0s;
    filter: drop-shadow(10px 10px 4px black);
}

.rightBox .overlay{
    background-color: rgba(41, 38, 38, 0.9);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s linear 0s;
}

.rightBox .overlay span{
    font-size: 1.2rem;
    color: white;
}

.rightBox:hover .overlay{
    opacity: 1;
}